.venv/
__pycache__/
.pytest_cache/
dist/
deb_dist/
.git/
.github/
.vscode/

# Python artifacts
*.py[cod]
*.egg-info/
*.egg

# Test artifacts
tests/
htmlcov/
.coverage
.tox/
.mypy_cache/
.ruff_cache/

# Packaging & scripts
debian-tmpl/
scripts/

# OS artifacts
.DS_Store
