[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurux-dlms = "*"
aioserial = "*"
asyncio-mqtt = "*"

[dev-packages]
autopep8 = "*"
isort = "*"
pylint = "*"
licenseheaders = "*"

[requires]
python_version = "3.8"

[scripts]
format_check = "autopep8 --diff -r --aggressive smartmeter_datacollector/"
format = "autopep8 --in-place  -r --aggressive smartmeter_datacollector/"
isort = "isort ."
isort_check = "isort --check ."
lint = "pylint smartmeter_datacollector/"
license = "licenseheaders -t .copyright.tmpl --ext 'python:.py' --current-year --owner 'Supercomputing Systems AG' --projname 'smartmeter-datacollector'"
