[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurux-dlms = "*"
aioserial = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
format_check = "autopep8 --diff -r --aggressive smartmeter_datacollector/"
format = "autopep8 --in-place  -r --aggressive smartmeter_datacollector/"
