Source: smartmeter-datacollector
Maintainer: Supercomputing Systems AG <info@scs.ch>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 10), dh-systemd (>= 1.5)
Standards-Version: 3.9.1
Homepage: https://github.com/scs/smartmeter-datacollector

Package: python3-smartmeter-datacollector
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Smart Meter Data Collector
 # Smart Meter Data Collector
 .
 <p align="center">
     <a href="LICENSE"><img alt="License: GPL-2.0-only" src="https://img.shields.io/badge/license-GPLv2-blue.svg"></a> <a href="https://github.com/scs/smartmeter-datacollector/pulls"><img alt="Pull Requests Welcome" src="https://img.shields.io/badge/PRs-welcome-brightgreen.svg"></a> <a href="https://github.com/scs/smartmeter-datacollector/pulls"><img alt="Contributions Welcome" src="https://img.shields.io/badge/contributions-welcome-brightgreen.svg"></a>
     <br />
     <img alt="Python Code Checks" src="https://github.com/scs/smartmeter-datacollector/actions/workflows/python-code-checks.yml/badge.svg?branch=master"> <a href="https://pypi.org/project/smartmeter-datacollector/"><img alt="PyPI - Python Version" src="https://img.shields.io/pypi/pyversions/smartmeter-datacollector"></a>
 </p>
 .

