Source: smartmeter-datacollector
Maintainer: Supercomputing Systems AG <info@scs.ch>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 10), dh-systemd (>= 1.5)
Standards-Version: 3.9.1
Homepage: https://github.com/scs/smartmeter-datacollector

Package: python3-smartmeter-datacollector
Architecture: all
Pre-Depends: python3-pip
Depends: ${misc:Depends}, python3:any
Description: Smart Meter Data Collector
 .
 The smartmeter-datacollector tool is a Python3 software which allows you to continuously retrieve data from supported smart meters (listed below).
 The acquired values can be forwarded to one or more data sinks like a MQTT broker or logger.
 .
 The following smart meters are supported:
 * Landis+Gyr E450: Data pushed by smart meter over CII interface (wired M-Bus). Encoded with HDLC and DLMS/COSEM.
   * Unencrypted data
   * Encrypted data
 * Iskraemeco AM550: Data pushed by smart meter over P1 interface (DSMR). Encoded with HDLC (IEC 62056-46) and DLMS/COSEM.
  * Unencrypted data
  * Encrypted data
