[Unit]
Description=Smart Meter Data Collector Service

[Service]
Type=simple
User=smartmeter
Restart=on-failure
ExecStart=smartmeter-datacollector -c /var/lib/smartmeter-datacollector/datacollector.ini

[Install]
WantedBy=multi-user.target
