name: Publish Python package to PyPI / Test PyPI

on:
  push:
    branches:
      - "**"
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-publish:
    runs-on: ubuntu-22.04

    name: Build a Python package and upload it to PyPI / Test PyPI
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        run: |
          pipx install poetry~=1.8.3
          python --version; python -m pip --version; poetry --version
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          cache: "poetry"
      - name: Setup project with Poetry
        run: poetry install --no-interaction

      - name: Build a Python package
        run: |
          bash scripts/build_py.sh

      - name: Archive the built Python package
        uses: actions/upload-artifact@v4
        with:
          name: smartmeter-datacollector-py
          path: dist/*

      - name: Publish the Python package to Test PyPI
        if: github.ref == 'refs/heads/master'
        uses: pypa/gh-action-pypi-publish@v1.12
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
          verify-metadata: true
          skip-existing: true

      - name: Publish the Python package to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.12
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Get the tag name
        id: tagName
        if: startsWith(github.ref, 'refs/tags')
        uses: olegtarasov/get-tag@v2.1

      - name: Create a new release
        if: startsWith(github.ref, 'refs/tags')
        uses: ncipollo/release-action@v1.16
        with:
          allowUpdates: true
          artifacts: dist/*.tar.gz,dist/*.whl
          draft: true
          name: Smart Meter Data Collector ${{ steps.tagName.outputs.tag }}
          omitBody: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
