name: Python code checks

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  check_python_code:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    name: Running Python code checks with Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"
      - name: Install Poetry
        run: |
          python -m pip install poetry==1.8.3
          python --version; python -m pip --version; poetry --version
      - name: Setup project with Poetry
        run: poetry install --no-interaction
      - name: Check code style
        run: poetry run poe format_check
      - name: Check import order
        run: poetry run poe isort_check
      - name: Lint with pylint
        run: poetry run poe lint_check
      - name: Run unit tests
        run: poetry run poe test
